<div class="all-calendar-container container-fluid">
    <div class="years-container">
        <button class="past-year years-button">Back</button>
        <div class="year-value">2022</div>
        <button class="next-year years-button">Next</button>
    </div>
    <div class="months-container">
        <div class="month-name-container container" data-month="january">
            <div class="month-name">January</div>
            <div class="month-short-name">Jan</div>
        </div>
        <div class="month-name-container container" data-month="february">
            <div class="month-name">February</div>
            <div class="month-short-name">Feb</div>
        </div>
        <div class="month-name-container container" data-month="march">
            <div class="month-name">March</div>
            <div class="month-short-name">Mrc</div>
        </div>
        <div class="month-name-container container" data-month="april">
            <div class="month-name">April</div>
            <div class="month-short-name">Apr</div>
        </div>
        <div class="month-name-container container" data-month="may">
            <div class="month-name">May</div>
            <div class="month-short-name">May</div>
        </div>
        <div class="month-name-container container" data-month="june">
            <div class="month-name">June</div>
            <div class="month-short-name">Jun</div>
        </div>
        <div class="month-name-container container" data-month="july">
            <div class="month-name">July</div>
            <div class="month-short-name">Jul</div>
        </div>
        <div class="month-name-container container" data-month="august">
            <div class="month-name">August</div>
            <div class="month-short-name">Aug</div>
        </div>
        <div class="month-name-container container" data-month="september">
            <div class="month-name">September</div>
            <div class="month-short-name">Sep</div>
        </div>
        <div class="month-name-container container" data-month="octover">
            <div class="month-name">October</div>
            <div class="month-short-name">Oct</div>
        </div>
        <div class="month-name-container container" data-month="november">
            <div class="month-name">November</div>
            <div class="month-short-name">Nov</div>
        </div>
        <div class="month-name-container container" style="margin-bottom: 0px;" data-month="december">
            <div class="month-name">December</div>
            <div class="month-short-name">Dec</div>
        </div>
    </div>
    <div class="calendar-container">
        <div class="calendar-box day-name-box">
            <div class="day-name">
                Monday
            </div>
            <div class="day-short-name">
                Mon
            </div>
        </div>

        <div class="calendar-box day-name-box">
            <div class="day-name">
                Tuesday
            </div>
            <div class="day-short-name">
                Tue
            </div>
        </div>

        <div class="calendar-box day-name-box">
            <div class="day-name">
                Wednesday
            </div>
            <div class="day-short-name">
                Wed
            </div>
        </div>

        <div class="calendar-box day-name-box">
            <div class="day-name">
                Thursday
            </div>
            <div class="day-short-name">
                Thu
            </div>
        </div>

        <div class="calendar-box day-name-box">
            <div class="day-name">
                Friday
            </div>
            <div class="day-short-name">
                Fri
            </div>
        </div>

        <div class="calendar-box day-name-box">
            <div class="day-name">
                Saturday
            </div>
            <div class="day-short-name">
                Sat
            </div>
        </div>

        <div class="calendar-box day-name-box">
            <div class="day-name">
                Sunday
            </div>
            <div class="day-short-name">
                Sun
            </div>
        </div>
    </div>
    <div class="calendar-tasks-container-gen">
        <div class="calendar-tasks-container container-fluid"></div>
    </div>
</div>