<div class="calendar-container container-fluid">
    <div class="my-own-calendar">
        <div class="day-name-box-container container-fluid">
            <div class="day-name-box calendar-general-box">Mon</div>
            <div class="day-name-box calendar-general-box">Tue</div>
            <div class="day-name-box calendar-general-box">Wed</div>
            <div class="day-name-box calendar-general-box">Thu</div>
            <div class="day-name-box calendar-general-box">Fri</div>
            <div class="day-name-box calendar-general-box">Sat</div>
            <div class="day-name-box calendar-general-box">Sun</div>
        </div>
        <div class="days-box-zone container-fluid"></div>
    </div>
</div>