<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<%- include('components/header.ejs') %>
		<title>Tasks: Show Task</title>
	</head>

	<body>
		<div id="masterContainer" class="container">
			<%- include('components/navbar.ejs') %>
			<h1>Hello world</h1>
		</div>
		<%- include('components/footer.ejs') %>
	</body>
</html>