body{
	background-image: url("../images/home_background_pattern.jpg");
	background-color: black;
	background-size: cover;
	background-attachment: fixed;
}

#masterContainer{
	height: 99vh;
	padding: 0px;
}

a:hover{
	cursor: pointer;
}

.new-button{
	width: 140px;
	height: 100%;
	background-color: rgb(10, 92, 10);
	color: white;
	font-weight: 600;
	border-radius: 1vh;
}